<div class="container">
  <div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
      <% if @customer.errors.any? %>
        <%= @customer.errors.count %>件のエラーが発生しました
          <ul>
            <% @customer.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>
    </div>
    <div class="col-lg-4">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
      <h1>プロフィール編集</h1>

      <%= form_with model: @customer, url: mypage_path, method: :patch do |f| %>

        <div class="mb-2">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true %>
        </div>

        <div class="mb-2">
          <%= f.label :profile_image %>
          <%= image_tag @customer.get_profile_image %>
          <%= f.file_field :profile_image, accept: "image/*" %>
        </div>

        <div class="mb-2">
          <%= f.label :self_introduction %>
          <%= f.text_area :self_introduction %>
        </div>

        <div>
          <%= f.submit "変更を保存" %>
        </div>

        <div>
          <%= link_to "退会", unsubscribe_path(current_customer.id) %>
        </div>

      <% end %>
    </div>
    <div class="col-lg-4">
    </div>
  </div>
</div>