<div class='row justify-content-center'>
  <div class='col-md-8 col-lg-6'>

    <div class='card shadow-sm mb-4'>
      <div class='card-body text-center'>
        <%= image_tag @customer.get_profile_image(120,120), class: 'rounded-circle mb-3' %>
        <h2 class='h4 fw-bold mb-1'><%= @customer.name %></h2>
        <p class='text-muted mb-3'>貢献度：<%= @customer.point || 0 %>pt</p>
        <%= link_to 'プロフィール編集', edit_customer_path(@customer.id), class: 'btn btn-outline-primary btn-sm' %>
      </div>
    </div>

    <div class='card shadow-sm mb-4'>
      <div class='card-body'>
        <h3 class='h5 fw-bold mb-3'>自己紹介</h3>
        <p class='mb-0'><%= simple_format(@customer.self_introduction) %></p>
      </div>
    </div>

    <div class='card shadow-sm mb-4'>
      <div class='card-body'>
        <h3 class='h5 fw-bold mb-3'>投稿一覧</h3>
        <div class='row g-3'>
          <%= render partial: 'shared/post_thumb', collection: @posts, as: :post %>
        </div>
        <div class="row mb-5">
          <div class="col d-flex justify-content-center">
            <%= paginate @posts, param_name: :posts_page %>
          </div>
        </div>
      </div>
    </div>

    <div class='card shadow-sm mb-4'>
      <div class='card-body'>
        <h3 class='h5 fw-bold mb-3'>いいね一覧（スニーカー）</h3>
        <div class='d-flex flex-wrap gap-3'>
          <% @favorites.each do |favorite| %>
            <%= link_to sneaker_path(favorite.sneaker.id), class: 'text-decoration-none' do %>
              <%= image_tag favorite.sneaker.get_image(120,120), class: 'img-thumbnail' %>
            <% end %>
          <% end %>
        </div>
        <div class="row mb-5">
          <div class="col d-flex justify-content-center">
            <%= paginate @favorites, param_name: :favorites_page %>
          </div>
        </div>
      </div>
    </div>

    <div class='card shadow-sm mb-4'>
      <div class='card-body'>
        <h3 class='h5 fw-bold mb-3'>いいね一覧（コメント）</h3>
        <ul class='list-group list-group-flush'>
          <% @sneaker_comment_favorites.each do |favorite| %>
            <li class='list-group-item d-flex align-items-start gap-3'>
              <%= link_to sneaker_path(favorite.sneaker_comment.sneaker.id), class: 'd-flex gap-3 text-decoration-none' do %>
                <%= image_tag favorite.sneaker_comment.sneaker.get_image(80,80), class: 'rounded' %>
                <span><%= truncate(favorite.sneaker_comment.comment, length: 60) %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col d-flex justify-content-center">
        <%= paginate @sneaker_comments, param_name: :sneaker_comments_page %>
      </div>
    </div>

    <div class='card shadow-sm'>
      <div class='card-body'>
        <h3 class='h5 fw-bold mb-3'>コメントしたもの</h3>

        <ul class='list-group list-group-flush'>
          <% @sneaker_comments.each do |sneaker_comment| %>
            <li class='list-group-item'>
              <div class='d-flex align-items-start gap-3'>
                <%= link_to sneaker_path(sneaker_comment.sneaker.id), class: 'text-decoration-none' do %>
                  <%= image_tag sneaker_comment.sneaker.get_image(80,80), class: 'rounded' %>
                <% end %>
                <div class='flex-grow-1'>
                  <%= link_to sneaker_path(sneaker_comment.sneaker.id), class: 'fw-bold text-decoration-none' do %>
                    <%= sneaker_comment.sneaker.sneaker_name_en %>
                  <% end %>
                  <p class='mb-2'><%= sneaker_comment.comment %></p>
                  <%= link_to '削除', sneaker_sneaker_comment_path(sneaker_comment.sneaker, sneaker_comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-sm btn-outline-danger' %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>

      </div>
    </div>
    <div class="row mb-5">
      <div class="col d-flex justify-content-center">
        <%= paginate @sneaker_comment_favorites, param_name: :sneaker_comment_favorites_page %>
      </div>
    </div>
  </div>
</div>
