<div class="row">
  <div class="col-lg-4">
  </div>
  <div class="col-lg-4">

    <h1>マイページ</h1>
    <p><%= @customer.name %></p>
    <%= image_tag @customer.get_profile_image(100,100) %>
  
    <%= link_to "プロフィール編集", edit_customer_path(@customer.id) %>
    <h4>自己紹介</h4>
    <%= @customer.self_introduction %>

    <h4>投稿一覧</h4>
    <ul style="list-style:none;">
      <% @posts.each do |post| %>
        <li>
          <p>Title: <%= post.title %></p>
          <p><%= image_tag post.get_image(100,100) %></p>
          <%= link_to "詳細", post_path(post.id) %>
        </li>
      <% end %>
    </ul>

    <h4>いいね一覧</h4>
    <ul style="list-style:none;">
      <% @favorites.each do |favorite| %>
        <li>
          <%= link_to sneaker_path(favorite.sneaker.id) do %>
            <%= image_tag favorite.sneaker.get_image(100,100) %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <h4>新規発掘 投稿</h4>
    <div>
    <p><%= link_to "新規発掘", new_sneaker_path %></p>
  </div>
  <div class="col-lg-4">
  </div>
</div>
