<div class="row">
  <div class="col-lg-4">
  </div>
  <div class="col-lg-4">

    <h1>マイページ</h1>
    <p><%= @customer.name %></p>
    <%= image_tag @customer.get_profile_image(100,100) %>
  
    <%= link_to "プロフィール編集", edit_customer_path(@customer.id) %>
    <h4>自己紹介</h4>
    <%= @customer.self_introduction %>

    <h4>投稿一覧</h4>
    <ul style="list-style:none;">
      <% @posts.each do |post| %>
        <li>
          <p>Title: <%= post.title %></p>
          <p><%= image_tag post.get_image(100,100) %></p>
          <%= link_to "詳細", post_path(post.id) %>
        </li>
      <% end %>
    </ul>

    <h4>いいね一覧(スニーカー)</h4>
    <ul style="list-style:none;">
      <% @favorites.each do |favorite| %>
        <li>
          <%= link_to sneaker_path(favorite.sneaker.id) do %>
            <%= image_tag favorite.sneaker.get_image(100,100) %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <h4>いいね一覧(コメント)</h4>
    <ul style="list-style:none;">
      <% @sneaker_comment_favorites.each do |favorite| %>
        <li>
          <%= link_to sneaker_path(favorite.sneaker_comment.sneaker.id) do %>
            <%= image_tag favorite.sneaker_comment.sneaker.get_image(100,100) %>
            <%= favorite.sneaker_comment.comment %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <h4>コメントしたもの</h4>
    <ul style="list-style:none;">
      <% @sneaker_comments.each do |sneaker_comment| %>
        <li>
          <%= image_tag sneaker_comment.sneaker.get_image(100,100) %>
          <%= link_to sneaker_path(sneaker_comment.sneaker.id) do %>
             <%= sneaker_comment.sneaker.sneaker_name_en %>
          <% end %>
          <%= sneaker_comment.comment %>
        </li>
      <% end %>
    </ul>

  </div>

  <div class="col-lg-4">
  </div>

</div>

