<div class="row">

  <div class="col-md-2">
    <div class="row">
      <h2>全ブランド</h2>
    </div>
    <div class="row">
      <ul style="list-style:none;">
        <% @sneaker_brands.each do |sneaker_brand| %>
          <li>
            名前:<%= link_to admin_sneaker_brand_path(sneaker_brand.id) do %><%= sneaker_brand.name %><% end %>
          </li>
        <% end %>
      </ul>
       <%= link_to admin_sneaker_brands_path do %><p>もっと見る</p><% end %>
    </div>
  </div>

  <div class="col-md-2">
  </div>

  <div class="col-md-8">
    <div class="row">
      <h2>スニーカー一覧</h2>
    </div>
    <div class="row">
      <ul style="list-style:none;">
        <% @sneakers.each do |sneaker| %>
          <li>
            <%= image_tag sneaker.get_image(100,100) %>
            <p>スニーカー名:<%= link_to admin_sneaker_path(sneaker.id) do %><%= sneaker.sneaker_name_en %><% end %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
