<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag @sneaker.get_image %>
      <p>いいね｜編集｜承認</p>
      <% if admin_signed_in? %>
        <%= link_to edit_admin_sneaker_path(@sneaker.id) do %>
          <p>編集</p>
        <% end %>
        <%= link_to admin_sneaker_path(@sneaker.id), method: :delete, data: {confirm: '本当に削除しますか？'} do %>
          <p>削除</p>
        <% end %>
      <% end %>
    </div>
    <div class="col">
      <div class="row">
        <%= @sneaker.sneaker_name %>
      </div>
      <div class="row">
        <%= @sneaker.year_of_manufacture.strftime('%Y/%m') %>
        <%= @sneaker_brand_name %>
      </div>
      <div class="row">
        <%= @sneaker.color %>
      </div>
      <div class="row">
        <%= @sneaker.size_sex %>
        <%= @sneaker.size_country %>
        <%= @sneaker.numerical_size %>
      </div>
      <div class="row">
        <%= @sneaker.overview %>
      </div>
    </div>
  </div>
</div>