<div class='row'>
 
  <div class='col-md-6'>

    <div class='text-center mb-4'>
      <%= image_tag @sneaker.get_image(500,500), class: 'img-fluid rounded mb-3' %>
      <%= render 'shared/sneaker_favorite_button', sneaker: @sneaker, current_customer: current_customer %>
      <% if admin_signed_in? %>
        <%= link_to '編集', edit_admin_sneaker_path(@sneaker.id), class: 'btn btn-outline-primary me-2' %>
        <%= link_to '削除', admin_sneaker_path(@sneaker.id), method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'btn btn-outline-danger' %>
      <% end %>
    </div>
 
    <div class='card'>
      <div class='card-body'>
        <h5 class='card-title'>コメント件数: <%= @sneaker.sneaker_comments.count %></h5>
        <%= render partial: "shared/comment", collection: @sneaker.sneaker_comments, as: :comment, locals: { customer_path_proc: ->(c) { admin_customer_path(c) } } %>
      </div>
    </div>

  </div>

  <div class='col-md-6'>
    <h1 class='mb-2'><%= @sneaker.sneaker_name_en %></h1>
    <p class='mb-4 text-muted'><%= @sneaker.sneaker_name_jp %></p>

    <div class='d-flex justify-content-between mb-3'>
      <div><strong>ブランド:</strong> <%= @sneaker.sneaker_type.sneaker_brand.name %></div>
      <div><strong>モデル:</strong> 
        <%= link_to @sneaker.sneaker_type.name, sneaker_brand_sneaker_type_path(@sneaker.sneaker_type.sneaker_brand.id, @sneaker.sneaker_type.id), class: 'text-decoration-none' %>
      </div>
      <div><strong>年式:</strong> <%= @sneaker.year_of_manufacture.strftime('%Y/%m') %></div>
    </div>

    <div class='mb-4'>
      <strong>サイズ:</strong>
      <% @sneaker.sneaker_sizes.each do |sneaker_size| %>
        <span class='badge bg-secondary me-1'><%= sneaker_size.size.size_value %></span>
      <% end %>
    </div>


    <div class='mb-4'>
      <h4 class='mb-3'>関連投稿</h4>
      <div class='row'>
        <%= render partial: 'shared/post_thumb', collection: @sneaker.posts, as: :post %>
      </div>
    </div>
  </div>
</div>
