<div class="row">
  <div class="col">
    <%= image_tag @sneaker.get_image(500,500) %>
    <% if admin_signed_in? %>
      <div class="row">
        <%= link_to edit_admin_sneaker_path(@sneaker.id) do %>
          <p>編集</p>
        <% end %>
        <p>|</p>
        <%= link_to admin_sneaker_path(@sneaker.id), method: :delete, data: {confirm: '本当に削除しますか？'} do %>
          <p>削除</p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col">

    <div class="row">
      <h1><%= @sneaker.sneaker_name_en %></h1>
    </div>

    <div class="row">
      <p><%= @sneaker.sneaker_name_jp %></p>
    </div>

    <div class="row">
      <div class="col">
        <%= @sneaker.sneaker_type.sneaker_brand.name %>
      </div>
      <div class="col">
        <%= link_to @sneaker.sneaker_type.name, 
            admin_sneaker_brand_sneaker_type_path(@sneaker.sneaker_type.sneaker_brand.id, 
            @sneaker.sneaker_type.id) 
            %>
      </div>
      <div class="col">
        <%= @sneaker.year_of_manufacture.strftime('%Y/%m') %>
      </div>
    </div>

    <div class="row">
      <% @sneaker.sneaker_sizes.each do |sneaker_size| %>
        <%= sneaker_size.size.size_value %>
      <% end %>
    </div>

    <div class="row">
       <h4>関連投稿</h4>
    </div>

    <div class="row">
      <%= render partial: "shared/post_thumb", collection: @sneaker.posts, as: :post %>
    </div>

  </div>
</div>

<div class="row">
  <p>コメント件数 : <%= @sneaker.sneaker_comments.count %></p>
   <%= render partial: "/shared/comment", collection: @sneaker.sneaker_comments, as: :comment %>
</div>
