<div class="row d-flex flex-column">
  <div class="row mx-auto">
    <h1>投稿フォーム</h1>
  </div>
  <div class="row mx-auto">
    <%= form_with model: @post do |f| %>
      <%= render "layouts/error_messages", model: f.object %>

      <div class="mb-2">
        <%= f.label :sneaker_id %>
        <%= f.select :sneaker_id, @sneakers.map { |sneaker| [sneaker.sneaker_name_en, sneaker.id] }, include_blank: "" %>
      </div>

      <div class="mb-2">
        <%= f.label :image %>
        <%= f.file_field :image, accept: "image/*" %>
      </div>

      <div class="mb-2">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div class="mb-2">
        <%= f.label :body %>
        <%= f.text_area :body %>
      </div>

      <%= f.submit '投稿' %>
    <% end %>
  </div>
</div>
