<div class="row">
  <h1>スニーカーブランド投稿フォーム</h1>
</div>

<%= form_with model: @sneaker_brand, url: admin_sneaker_brands_path do |f| %>
 <%= render "layouts/error_messages", model: f.object %>
 
  <div class="mb-2">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="mb-2">
    <%= f.label :overview %>
    <%= f.text_area :overview %>
  </div>

  <div class="mb-2">
    <%= f.submit '投稿' %>
  </div>
<% end %>


