<div class="row justify-content-center mb-4">
  <div class='col-md-8 col-lg-6 text-center'>
    <%= render "layouts/sort", form_url: admin_sneaker_brand_path(@sneaker_brand.id) %>
  </div>
</div>

<div class='row mb-4'>
  <div class='col text-center'>
    <h2><%= @sneaker_brand.name %> (ブランド詳細)</h2>
    <%= link_to '編集', edit_admin_sneaker_brand_path(@sneaker_brand.id), class: 'btn btn-outline-primary' %>
  </div>
</div>

<div class='row mb-5'>
  <div class='col-md-8 col-lg-6 offset-md-2 offset-lg-3'>
    <div class='card'>
      <div class='card-body'>
        <p><%= @sneaker_brand.overview %></p>
      </div>
    </div>
  </div>
</div>

<div class='row mb-4'>
  <div class='col text-center'>
    <h2>モデル一覧</h2>
  </div>
</div>

<div class='row justify-content-center mb-5'>
  <div class='col-md-8 col-lg-6 d-flex flex-wrap justify-content-center gap-2'>
    <% @sneaker_types.each do |sneaker_type| %>
      <%= link_to sneaker_type.name, admin_sneaker_brand_sneaker_type_path(@sneaker_brand.id, sneaker_type.id), class: 'btn btn-outline-secondary' %>
    <% end %>
  </div>
</div>

<div class='row mb-4'>
  <div class='col text-center'>
    <%= link_to 'モデル一覧へ', admin_sneaker_brand_sneaker_types_path(@sneaker_brand.id), class: 'btn btn-secondary' %>
  </div>
</div>

<div class='row mb-4'>
  <div class='col text-center'>
    <h2>スニーカー一覧</h2>
  </div>
</div>
<div class='row'>
  <div class='col'>
    <%= render 'shared/sneaker_card_list', sneakers: @sneakers %>
  </div>
</div>
<div class="row mb-5">
  <div class="col d-flex justify-content-center">
    <%= paginate @sneakers %>
  </div>
</div>
