<div class="container">
  <div class="row d-flex flex-column">
    <div class="row mx-auto">
      <h1>新規発掘一覧</h1>
    </div>
    <div class="row mx-auto">
      <ul>
        <% @excavations.each do |excavation| %>
          <li>
            <%= excavation.id %> - <%= image_tag excavation.get_image %> - <%= excavation.sneaker_name %> - <%= excavation.overview %>
            <%= link_to '確認', edit_admin_excavation_path(excavation) %>
            <%= link_to '削除', admin_excavation_path(excavation), method: :delete, data: { confirm: '本当に削除しますか？' } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>