<div class='row justify-content-center'>
  <div class='col-md-8 col-lg-6 text-center'>

    <h1><strong>ようこそスニーカー図鑑へ！</strong></h1>
    <p>スニーカー好きが作るスニーカー好きのための大図鑑</p>

    <h2 class='mt-5 mb-3'>共同著者の皆様</h2>
    <ul class='list-unstyled'>
      <% @customers.each do |c| %>
        <li class='mb-2'>
          <%= link_to c.name, customer_path(c.id), class: 'text-decoration-none' %>
          <span class='badge bg-secondary'><%= c.point || 0 %> pt</span>
        </li>
      <% end %>
    </ul>
    <div class='row mt-3'>
      <div class='col d-flex justify-content-center'>
        <%= paginate @customers, param_name: :customers_page %>
      </div>
    </div>

    <h2 class='mt-5 mb-3'>管理者</h2>
    <ul class='list-unstyled'>
      <% @admins.each do |admin| %>
        <li class='mb-4'>
          <div class='card'>
            <div class='card-body text-center'>
              <%= image_tag admin.get_admin_profile_image(100,100), class: 'rounded-circle mb-3' %>
              <h5 class='card-title'><%= admin.name %></h5>
              <p class='card-text'><%= admin.self_introduction %></p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    <div class='row mt-3'>
      <div class='col d-flex justify-content-center'>
        <%= paginate @admins, param_name: :admins_page %>
      </div>
    </div>
  </div>
</div>
