<% if @model == 'sneaker' %>
  <div class='row justify-content-center'>
    <div class='col-md-8 col-lg-6'>

      <div class='row mb-4'>
        <div class='col text-center'>
          <h1 class='h3'>Admin search for "<%= @content %>"</h1>
        </div>
      </div>

      <ul class='list-group'>
        <% @records.each do |record| %>
          <li class='list-group-item d-flex align-items-center'>
            <%= image_tag record.get_image(100, 100), class: 'rounded me-3' %>
            <div>
              <strong>スニーカー名:</strong>
              <%= link_to record.sneaker_name_en, admin_sneaker_path(record.id), class: 'text-decoration-none' %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

<% elsif @model == "sneaker_brand" %>
  
  <div class='row justify-content-center'>
    <div class='col-md-8 col-lg-6'>

      <div class='row mb-4'>
        <div class='col text-center'>
          <h1 class='h3'>Admin search for "<%= @content %>"</h1>
        </div>
      </div>

      <ul style='list-group'>
        <% @records.each do |record| %>
          <li class='list-group-item d-flex align-items-center'>
            <div>
              <strong>ブランド名:</strong>
              <%= link_to record.name, admin_sneaker_brand_path(record.id), class: 'text-decoration-none' %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>


<% elsif @model == "sneaker_type" %>
  
  <div class='row justify-content-center'>
    <div class='col-md-8 col-lg-6'>

      <div class='row mb-4'>
        <div class='col text-center'>
          <h1 class='h3'>Admin search for "<%= @content %>"</h1>
        </div>
      </div>
    
      <ul style='list-group'>
        <% @records.each do |record| %>
          <li class='list-group-item d-flex align-items-center'>
            <div>
              <strong>モデル名:</strong>
              <%= link_to record.name, admin_sneaker_brand_sneaker_type_path(record.sneaker_brand.id,record.id), 
                  class: 'text-decoration-none' %>
            </div>
          </li>
        <% end %>
      </ul>
    </div> 
  </div>

  <% elsif @model == "customer" %>

    <div class='row justify-content-center'>
      <div class='col-md-8 col-lg-6'>

        <div class='row mb-4'>
          <div class='col text-center'>
            <h1 class='h3'>Admin search for "<%= @content %>"</h1>
          </div>
        </div>

        <ul style="list-group">
          <% @records.each do |record| %>
            <li class='list-group-item d-flex align-items-center'>
              <strong>カスタマー名: </strong><%= record.name %> : 
              <%= link_to '削除', admin_customer_path(record), 
                  method: :delete, data: { confirm: '本当に削除しますか？' },
                  class: 'text-decoration-none' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div> 
<% end %>