<div class="col-12 mb-3 border p-2">
  <div>
    <%= image_tag comment.customer.get_profile_image(100,100) %>
    <strong><%= link_to comment.customer.name, customer_path_proc.call(comment.customer) %></strong>
    <span><%= comment.created_at.strftime('%Y/%m/%d') %></span>
  </div>
  <p><%= comment.comment %></p>

  <% unless comment.customer == current_customer %>
    <% if comment.favorited_by?(current_customer) %>
      <%= link_to sneaker_comment_favorites_path(sneaker_comment_id: comment.id), method: :delete do %>
        ❤︎いいね
      <% end %>
    <% else %>
      <%= link_to sneaker_comment_favorites_path(sneaker_comment_id: comment.id), method: :post do %>
        ♡いいね
      <% end %>
    <% end %>
  <% end %>

  <%= comment.sneaker_comment_favorites.count %> いいね

  <% if comment.customer == current_customer %>
    <%= link_to "削除", sneaker_sneaker_comment_path(comment.sneaker, comment), method: :delete, data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</div>