<div class="container">
  <div class="row d-flex flex-column">
  <div class="row mx-auto">
    <h1>ブランド一覧</h1>
  </div>
  <% @sneaker_brands.each do |sneaker_brand| %>
    <div class="row">
      <p>ブランド:<%= link_to sneaker_brand_sneaker_types_path(sneaker_brand.id) %><%= sneaker_brand.name %></p>
    </div>
  <% end %>
  <div class="row mx-auto">
    <h1>スニーカー一覧</h1>
  </div>
  <% @sneakers.each do |sneaker| %>
    <div class="row">
      <%= image_tag sneaker.get_image %>
      <p>スニーカー名:<%= link_to sneaker_path(sneaker.id) do %><%= sneaker.sneaker_name %><% end %></p>
    </div>
  <% end %>
  </div>
</div>