<div class=" row d-flex justify-content-center mb-2">
  <%= render partial: "layouts/sort", locals: { form_url: sneakers_path } %>
</div>

<div class="row">

  <div class="col-md-2">
    <div class="row">
      <h2>全ブランド</h2>
    </div>
    <div class="row">
      <ul style="list-style:none;">
        <li>
          <% @sneaker_brands.each do |sneaker_brand| %>
            <div class="row">
              名前:<%= link_to sneaker_brand_path(sneaker_brand.id) do %><%= sneaker_brand.name %><% end %>
            </div>
          <% end %>
        </li>
         <%= link_to sneaker_brands_path do %><p>もっと見る</p><% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-2">
  </div>

  <div class="col-md-8">
    <div class="row">
      <h2>スニーカー一覧</h2>
    </div>
    <div class="row">
      <ul style="list-style:none;">
        <%= render partial: "shared/sneaker_card", collection: @sneakers, as: :sneaker %>
      </ul>
    </div>
  </div>

</div>
