<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag @sneaker.get_image %>
      <p>いいね｜編集｜承認</p>
      <% if admin_signed_in? %>
        <%= link_to edit_admin_sneaker_path(@sneaker.id) do %>
          <p>編集</p>
        <% end %>
        <%= link_to admin_sneaker_path(@sneaker.id), method: :delete, data: {confirm: '本当に削除しますか？'} do %>
          <p>削除</p>
        <% end %>
      <% end %>
    </div>
    <div class="col">
      <div class="row">
        <%= @sneaker.sneaker_name_en %>
      </div>
      <div class="row">
        <%= @sneaker.sneaker_name_jp %>
      </div>
      <div class="row">
        <%= @sneaker.year_of_manufacture.strftime('%Y/%m') %>
        <%= @sneaker.sneaker_type.sneaker_brand.name %>
        <%= link_to sneaker_brand_sneaker_type_path(@sneaker.sneaker_type.sneaker_brand.id, @sneaker.sneaker_type.id) do %><%= @sneaker.sneaker_type.name %><% end %>
      </div>
    </div>
  </div>
</div>