<div class="row">
  <div class="col">
    <%= image_tag @sneaker.get_image(500,500) %>
    <%= render partial: "shared/sneaker_favorite_button", locals: { sneaker: @sneaker, current_customer: current_customer } %>
  </div>
  <div class="col">
    <div class="row">
      <h1><%= @sneaker.sneaker_name_en %></h1>
    </div>

    <div class="row">
      <p><%= @sneaker.sneaker_name_jp %></p>
    </div>

    <div class="row">
      <div class="col">
        <%= @sneaker.sneaker_type.sneaker_brand.name %>
      </div>
      <div class="col">
       <%= link_to @sneaker.sneaker_type.name, 
                   sneaker_brand_sneaker_type_path(@sneaker.sneaker_type.sneaker_brand.id, 
                   @sneaker.sneaker_type.id) 
                   %>
      </div>
      <div class="col">
        <%= @sneaker.year_of_manufacture.strftime('%Y/%m'), sneaker_brand_sneaker_type_path(@sneaker.sneaker_type.sneaker_brand.id, @sneaker.sneaker_type.id)%>
      </div>
    </div>

    <div class="row">
      <% @sneaker.sneaker_sizes.each do |sneaker_size| %>
        <%= sneaker_size.size.size_value %>
      <% end %>
    </div>

    <div class="row"> 
      <h4>関連投稿</h4>
    </div>

    <div class="row">
      <%= render partial: "shared/post_thumb", collection: @sneaker.posts, as: :post %>
    </div>
  </div>
</div>

<div class="row">
  <%= form_with model: [@sneaker, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

<div class="row">
  <p>コメント件数 : <%= @sneaker.sneaker_comments.count %></p>
  <%= render partial: "/shared/comment", collection: @sneaker.sneaker_comments, as: :comment %>
</div>