<div class="row">
  <div class="col">

    <div class="row">
      <%= image_tag @sneaker.get_image(500,500) %>
    </div>
    
    <% if @sneaker.favorited_by?(current_customer) %>
    <div class="row">
      <%= link_to sneaker_favorite_path(@sneaker), method: :delete do %>
        ❤︎<%= @sneaker.favorites.count %> いいね
      <% end %>
    </div>
    <% else %>
    <div class="row">
      <%= link_to sneaker_favorite_path(@sneaker), method: :post do %>
        ♡<%= @sneaker.favorites.count %>いいね
      <% end %>
    </div>
    <% end %>
    
  </div>
  <div class="col">

    <div class="row">
      <h1><%= @sneaker.sneaker_name_en %></h1>
    </div>

    <div class="row">
      <p><%= @sneaker.sneaker_name_jp %></p>
    </div>

    <div class="row">
      <div class="col">
        <%= @sneaker.sneaker_type.sneaker_brand.name %>
      </div>
      <div class="col">
        <%= link_to sneaker_brand_sneaker_type_path(@sneaker.sneaker_type.sneaker_brand.id, @sneaker.sneaker_type.id) do %>
          <%= @sneaker.sneaker_type.name %>
        <% end %>
      </div>
      <div class="col">
        <%= @sneaker.year_of_manufacture.strftime('%Y/%m') %>
      </div>
    </div>

    <div class="row">
      <% @sneaker.sneaker_sizes.each do |sneaker_size| %>
        <%= sneaker_size.size.size_value %>
      <% end %>
    </div>

    <div class="row"> 
      <h4>関連投稿</h4>
    </div>

    <div class="row">
      <% @sneaker.posts.each do |post| %>
        <%= image_tag post.get_image(100,100) %><%= link_to post_path(post.id) do %><%= post.title %><% end %>
      <% end %>
    </div>

  </div>
</div>

<div class="row">

  <%= form_with model: [@sneaker, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>

</div>

<div class="row">
  
  <p>コメント件数 : <%= @sneaker.sneaker_comments.count %></p>
  <% @sneaker.sneaker_comments.each do |sneaker_comment| %>
    <p><%= image_tag sneaker_comment.customer.get_profile_image(100,100) %></p>
    <%= sneaker_comment.customer.name %>
    <%= sneaker_comment.created_at.strftime('%Y/%m/%d') %><%= sneaker_comment.comment %>
    <% if sneaker_comment.customer == current_customer %>
      <%= link_to "削除", sneaker_sneaker_comment_path(sneaker_comment.sneaker, sneaker_comment), method: :delete, data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  <% end %>
  
</div>