<div class="row">
  <h1>スニーカーモデル編集フォーム</h1>
</div>

<%= form_with model: @sneaker_type, url: admin_sneaker_brand_sneaker_type_path(@sneaker_brand.id, @sneaker_type.id), method: :patch do |f| %>
  <%= render "layouts/error_messages", model: f.object %>

  <div class="row">
    <h4>スニーカーモデル名</h4>
  </div>

  <div class="mb-2">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="mb-2">
    <%= f.label :overview %>
    <%= f.text_area :overview %>
  </div>

  <div class="mb-2">
    <%= f.submit 'Update' %>
  </div>  

<% end %>

<div class="row">
  <%= link_to '削除', admin_sneaker_brand_sneaker_type_path(@sneaker_brand.id, @sneaker_type.id), method: :delete, "data-confirm" => "本当に削除しますか？"%>
</div>

