<div class='row justify-content-center mb-4'>
  <div class='col-md-8 col-lg-6 text-center'>
    <%= render 'layouts/sort', form_url: sneaker_brand_sneaker_type_path(@sneaker_brand.id,@sneaker_type.id) %>
  </div>
</div>

<div class='row mb-4'>
  <div class='col text-center'>
    <h2><%= @sneaker_type.name %> (モデル詳細)</h2>
  </div>
</div>

<div class='row mb-5'>
  <div class='col-md-8 col-lg-6 offset-md-2 offset-lg-3'>
    <div class='card'>
      <div class='card-body'>
        <p><%= @sneaker_type.overview %></p>
      </div>
    </div>
  </div>
</div>

<div class='row mb-4'>
  <div class='col text-center'>
    <h2>スニーカー一覧</h2>
  </div>
</div>

<div class='row'>
  <div class='col'>
    <%= render 'shared/sneaker_card_list', sneakers: @sneakers %>
  </div>
</div>

<div class="row mb-5">
  <div class="col d-flex justify-content-center">
    <%= paginate @sneakers %>
  </div>
</div>