<div class=" row d-flex justify-content-center mb-2">
  <%= render partial: "layouts/sort", locals: { form_url: sneaker_brand_sneaker_type_path(@sneaker_brand.id,@sneaker_type.id) } %>
</div>

<div class="row">
  <h1><%= @sneaker_type.name %></h1>
</div>

<div class="row">
  <p><%= @sneaker_type.overview %></p>
</div>

<div class="row">
  <h2>スニーカー一覧</h2>
</div>

<div class="row">
<ul style="list-style:none;">
  <% @sneakers.each do |sneaker| %>
    <li>
      <%= image_tag sneaker.get_image(100,100) %><%= link_to sneaker_path(sneaker.id) do %><%= sneaker.sneaker_name_en %><% end %>
    </li>
  <% end %>
 </ul> 
</div>