<div class="row">
  <h1>ダッシュボード</h1>
</div>

<div class="row">
  <h3>カスタマー一覧</h3>
</div>

<div class="row">
  <ul>
    <% @customers.each do |customer| %>
      <li>
        <%= customer.name %> - <%= customer.email %>
        <%= link_to '削除', admin_customer_path(customer), method: :delete, data: { confirm: '本当に削除しますか？' } %>
      </li>
    <% end %>
  </ul>
</div>

<div class="row">
 <%= link_to admin_customers_path do %>
   <p>もっと見る</p>
 <% end %>
</div>

<div class="row">
  <h3>スニーカー一覧</h3>
</div>

<div class="row">
  <ul>
    <% @sneakers.each do |sneaker| %>
      <li>
        <%= link_to admin_sneaker_path(sneaker) do %><%= sneaker.sneaker_name_en %><% end %> - <%= image_tag sneaker.get_image(100,100) %>
        <%= link_to '削除', admin_sneaker_path(sneaker), method: :delete, data: { confirm: '本当に削除しますか？' } %>
      </li>
    <% end %>
  </ul>
</div>

<div class="row">
  <%= link_to admin_sneakers_path do %>
    <p>もっと見る</p>
  <% end %>
</div>