<h1>ダッシュボード</h1>
<h3>カスタマー一覧</h3>
<ul>
  <% @customers.each do |customer| %>
    <li>
      <%= customer.name %> - <%= customer.email %>
      <%= link_to '削除', admin_customer_path(customer), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    </li>
  <% end %>
</ul>
 <%= link_to admin_customers_path do %><p>もっと見る</p><% end %>

<h3>スニーカー一覧</h3>
<ul>
  <% @sneakers.each do |sneaker| %>
    <li>
      <%= sneaker.sneaker_name %> - <%= image_tag sneaker.get_image %>
      <%= link_to '削除', admin_sneaker_path(sneaker), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    </li>
  <% end %>
</ul>
<%= link_to admin_sneakers_path do %><p>もっと見る</p><% end %>